#logo-div {
    height: 40%;
    display: flex;
    align-items: center;    //vertical
    justify-content: center; //horizontal
    
    img{
        width: 10%;
    }

    h3{
        text-align: center;
    }
}