#logo-div {
    height: 40%;
    display: flex;
    align-items: center;    //vertical
    justify-content: center; //horizontal
    text-align: center; 

    img{
        width: 20%;
    }
}