<ion-header>
  <ion-toolbar>
    <ion-title>Contas a Pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><br>
  
 <ion-list>

  <ion-item *ngFor="let conta of listaContas">
    <ion-label>
      <h2>{{conta.parceiro}}</h2>
      <h2>{{conta.descricao}}</h2>
      <h2>R$ {{conta.valor}}</h2>
      <h2>{{conta.tipo}}</h2>
    </ion-label>
    <ion-icon stol="end" name="trash" color="if" (click)="remove(conta)"></ion-icon>
  </ion-item>

 </ion-list>

</ion-content>
