<ion-header>
  <ion-toolbar>
    <h1 class="ion-text-center">Login</h1>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <topo-login></topo-login>
  
  <form [formGroup]="loginForm" (submit)="login()">
    <ion-item>
      <ion-icon name="mail" color="if" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-button type="submit" [disabled]="loginForm.invalid" expand="block" color="if" fill="clear">Entrar</ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth/forgot']" fill="clear" color="medium">Esqueci minha senha</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/auth/register']" fill="clear" color="medium">Registre-se</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>